<!-- Header Title -->
<mat-toolbar color="primary">
  <span>
    {{ headerTitle }}
  </span>

  <span fxFlex></span>
  <button
    mat-icon-button
    aria-label="Heroes List"
    matTooltip="Heroes"
    routerLink="/heroes"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<div class="contentAppHeroes">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * *Aplicação desenvolvida para estudos * * * * * * *  * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
