<mat-accordion *ngIf="messagesService.getMessages().length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Messages </mat-panel-title>
      <mat-panel-description>
        {{ messagesService.getMessages().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <button color="warn" mat-raised-button (click)="messagesService.clear()">
        Clear messages
      </button>
    </p>

    <mat-list>
      <mat-list-item  *ngFor="let messages of messagesService.getMessages()">
        {{ messages}}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
